$first-article-height-wide: 90vh;
$first-article-height-narrow: 50vh;

$first-article-text-color: white;
$article-underline-height: 3px;

// [global]

body.home {
  .fdd-category-grid {
    .article-grid-wrapper:hover {
      .article-grid__figure {
        background-color: #5bff00;
        background-color: rgb(36, 214, 23);
        background-color: rgba(158, 238, 113, 0.98);
      }
    }
    .article-grid__figure {
      transition: background-color .3s ease 0s;
      line-height: 0;
      img {
        mix-blend-mode: multiply;
        mix-blend-mode: color-burn;
        mix-blend-mode: luminosity;
      }
    }
    .article-grid__underline {
      width: 2em;
      height: $article-underline-height;
      clear: both;
    }
    > .article-grid {
      .article-grid-wrapper {
        position: relative;
        width: 100%;
        .article-grid__content {
          bottom: 0;
          position: absolute;
          width: 100%;
          padding: 6em 15%;
          background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
          header {
            @include fdd-home-front-article-heading();
            color: $first-article-text-color;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            display: block;
            .article-grid__excerpt {
              @include font-home-page-excerpt(90%);
              line-height: 1.4;
            }
            .article-grid__underline {
              background: $first-article-text-color;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
    .oldish {
      padding: 0;
      .article-grid {
        .article-grid-wrapper {
          position: relative;
          width: 100%;
          img {
            width: 100%;
          }
          .article-grid__content {
            top: -3.2em;
            position: relative;
            width: 90%;
            margin-left: 10%;
            padding: 0.3em 0.5em 0 2em;
            background: white;
            header {
              @include fdd-home-oldish-article-heading();
            }
            .article-grid__excerpt {
              @include font-home-page-excerpt(110%);
              line-height: 1.5;
            }
            .article-grid__underline {
              background: #bbbbbb;
              margin-top: 2em; // affects bottom positioning of __content
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

// [/global]



/**********************************************************
 Wide screen
 **********************************************************/

$masonry-style: ttb; // ltr|ttb

@mixin oldish-masonry-ttb($gap: $fdd-outer-padding-wide-screen) {
  columns: 2;
  column-fill: balance;
  column-gap: $gap;
}

@media screen and (min-width: $fdd-wide-width-pixels) {

body.home {
  .fdd-category-grid {
    > .article-grid {
      position: sticky;
      top: 0;
      width: 50%;
      clear: left;
      float: left;
      padding: 0 $fdd-outer-padding-wide-screen;
      .article-grid-wrapper {
        position: relative;
        max-height: $first-article-height-wide;
        img {
          max-width: 100%;
          min-height: $first-article-height-wide;
          object-fit: cover;
        }
        .article-grid__content {
          header {
            @include text-size(bigger);
          }
        }
      }
    }
    .oldish {
      width: 50%;
      float: right;
      @if ($masonry-style == ttb) {
        @include oldish-masonry-ttb();
        padding-right: $fdd-outer-padding-wide-screen;
      }
      .article-grid {
        @if ($masonry-style == ttb) {
          break-inside: avoid;
          display: inline-block;
          width: 100%;
        }
        @if ($masonry-style == ltr) {
          padding-right: $fdd-outer-padding-wide-screen;
          width: 50% - $fdd-outer-padding-wide-screen / 2;
          float: left;
        }
        margin-bottom: 1em;
        .article-grid-wrapper {
          .article-grid__figure {
            img {
              min-height: 21vw;
              object-fit: cover;
            }
          }
          .article-grid__content {
            header {
              @include text-size(large);
            }
          }
        }
      }
    }
  }
}

} // media screen and (max-width: $fdd-wide-width-pixels - 1px)

/**********************************************************
 Narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-wide-width-pixels - 1px) {

body.home {
  .fdd-category-grid {
    > .article-grid {
      width: 100%;
      padding: 0;
      .article-grid-wrapper {
        position: relative;
        max-height: $first-article-height-narrow;
        img {
          width: 100%;
          max-height: $first-article-height-narrow;
          object-fit: cover;
        }
        .article-grid__content {
          header {
            @include text-size(big);
          }
        }
      }
    }
    .oldish {
      width: 100%;
      @if ($masonry-style == ttb) {
        @include oldish-masonry-ttb();
      }
      padding: 7em $fdd-home-outer-padding-narrow-screen 0 $fdd-home-outer-padding-narrow-screen;
      .article-grid {
        @if ($masonry-style == ttb) {
          break-inside: avoid;
          width: 100%;
        }
        @if ($masonry-style == ltr) {
          width: 50% - $fdd-outer-padding-narrow-screen;
          margin-right: $fdd-outer-padding-narrow-screen;
          float: left;
        }
        margin-bottom: 1em;
        .article-grid-wrapper {
          .article-grid__content {
            header {
              @include text-size(large);
            }
          }
        }
      }
    }
  }
}

} // media screen and (max-width: $fdd-wide-width-pixels - 1px)


/**********************************************************
  Super-narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-narrow-width-pixels - 1px) {

  body.home {
  .fdd-category-grid {
    .oldish {
      columns: auto;
      width: 100%;
      padding: 7em $fdd-home-outer-padding-narrow-screen 0;
      .article-grid {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:not(:last-child) {
          border-bottom: $base-primary-color 1px solid;
        }
        .article-grid-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          .article-grid__figure {
            width: 45%;
            img {
              object-fit: cover;
              height: 100%;
            }
          }
          .article-grid__content {
            position: static;
            width: 55%;
            margin: 0;
            padding: 0 0 0 10%;
            header h2 {
              margin-top: 0;
              @include text-size(large);
              line-height: 1.5;
            }
            .article-grid__underline {
              display: none;
            }
          }
        }
      }
    }
  }
}

}
