$article-underline-height: 3px;

body.search {
  .article-list {
    padding: 0 $fdd-outer-padding-wide-screen;
    a {
      max-width: $fdd-search-result-width;
      display: block;
      margin-left: auto;
      margin-right: auto;
      .article-list__container {
        display: flex;
        padding: 2em 0;
        border-bottom: 1px solid $fdd-on-gray-color;
        .article-list__image {
          width: 50%;
          img {
            width: 100%;
            max-height: 240px;
            object-fit: cover;
          }
        }
        .article-list__content {
          width: 50%;
          padding-left: 5vw;
          position: relative;
          top: -10px; // empirical, compensate for text/image align
          h2 {
            margin: 0;
            line-height: 1.5;
          }
          .article-list__excerpt {
            @include fdd-home-article-excerpt(18px);
            line-height: 1.5;
          }
          .article-grid__underline {
            background: $fdd-thick-decor-underline-color;
            margin-top: 2em;
            width: 2em;
            height: $article-underline-height;
            clear: both;
          }
        }
      }
    }
  }
}


/**********************************************************
  Super-narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-narrow-width-pixels - 0.1px) {

body.search {
  .article-list {
    a .article-list__container {
      flex-wrap: wrap;
      border-bottom: none;
      .article-list__image {
        width: 100%;
      }
      .article-list__content {
        width: 100%;
        padding-left: 0;
        padding-top: 1em;
        top: 0;
      }
    }
  }
}

}
