$first-article-height-home-wide: 90vh;

$first-article-home-tall-screen: 1080px;
$first-article-height-home-wide-max: $first-article-home-tall-screen * 0.9;
$first-article-height-category-wide-max: $first-article-home-tall-screen * 0.7;

$first-article-height-home-narrow: 60vh;
$first-article-min-height-home-narrow: 400px;
$first-article-max-height-home-narrow: 480px;

$first-article-min-height-category-wide: 62vh;
$first-article-max-height-category-wide: 640px / 4 * 3;

$first-article-min-height-category-narrow: 80vh;
$first-article-max-height-category-narrow: 420px; // ~640/1.5

$first-article-text-color: white;
$article-underline-height: 3px;

$oldish-wide-padding-left: 12px;
$first-article-wide-right-padding: $fdd-home-images-gap - $oldish-wide-padding-left;

// [global]

body.home, body.category {
  .fdd-category-grid {
    .article-grid__content header {
      line-height: 1.6;
    }
    .article-grid__figure {
      position: relative;
      transition: background-color .3s ease 0s;
      line-height: 0;
      > picture > img {
        mix-blend-mode: multiply;
      }
      .article-grid__is-video {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: center / 25% no-repeat url(../images/play-button.svg);
      }
    }
    .article-grid__underline {
      width: 2em;
      height: $article-underline-height;
      clear: both;
    }
    /*
    .oldish .article-grid__content {
      box-shadow: -13px -10px 9px -18px #333;
    }
    */
  }
}

body.home .fdd-category-grid .oldish,
body.category .fdd-category-grid {
  padding: 0;
  .article-grid {
    .article-grid-wrapper {
      position: relative;
      width: 100%;
      .article-grid__figure {
        > picture > img {
          width: 100%;
        }
        .article-grid__is-video {
          height: calc(100% - 51px); // 51px ~= 3.2em
        }
      }
      .article-grid__content {
        top: -3.2em;
        position: relative;
        width: 90%;
        margin-left: 10%;
        padding: 0.3em 0.5em 0 0.7em;
        background: white;
        header {
          h2 {
            @include fdd-home-oldish-article-heading(bold);
          }
          .article-grid__heading {
            margin-top: 0;
          }
        }
        .article-grid__excerpt {
          @include fdd-home-article-excerpt(18px);
          line-height: 1.5;
        }
        .article-grid__underline {
          background: $fdd-thick-decor-underline-color;
          margin-top: 2em; // affects bottom positioning of __content
          margin-left: 0;

          //display: none;
        }
      }
    }
  }
}

body.home {
  .fdd-category-grid {
    > .article-grid {
      .article-grid-wrapper {
        position: relative;
        width: 100%;
        .article-grid__content {
          bottom: 0;
          position: absolute;
          width: 100%;
          background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
          header {
            h2 {
              @include fdd-home-front-article-heading(bold);
            }
            color: $first-article-text-color;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            display: block;
            .article-grid__excerpt {
              @include fdd-home-article-excerpt(90%);
              line-height: 1.4;
            }
            .article-grid__underline {
              background: $first-article-text-color;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}

@media (hover: hover) {

body.home, body.category {
  .fdd-category-grid {
    .article-grid-wrapper:hover {
      .article-grid__figure {
        background-color: red;
      }
    }
  }
}

}

// [/global]


/**********************************************************
 Wide screen
 **********************************************************/

@mixin oldish-masonry-ttb($gap: $fdd-outer-padding-wide-screen / 2) {
  columns: 2;
  column-fill: balance;
  column-gap: $gap;
}

@media screen and (min-width: $fdd-wide-width-pixels) {

body.home, body.category {
  .fdd-category-grid {
    > .article-grid {
      position: sticky;
      @if ($fdd-sticky-menu == true) {
        top: 45px;
      }
      @if ($fdd-sticky-menu == false) {
        top: 0;
      }
      clear: left;
      float: left;
      .article-grid-wrapper {
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
        }
        .article-grid__heading {
          margin-top: 1em !important;
        }
      }
    }
    .oldish {
      float: right;
      .oldish__inner {
        @include oldish-masonry-ttb($fdd-home-images-gap);
      }
      .article-grid {
        break-inside: avoid;
        display: inline-block;
        width: 100%;
        margin-bottom: 1em;
        .article-grid-wrapper {
          .article-grid__figure {
            > picture > img {
              min-height: 21vw;
              object-fit: cover;
            }
          }
          .article-grid__content {
            header {
              @include text-size(medium);
            }
          }
        }
      }
    }
  }
}

body.home {
  .fdd-category-grid {
    > .article-grid {
      width: 50%;
      padding: 0 $first-article-wide-right-padding 0 0;
      .article-grid-wrapper {
        max-height: $first-article-height-home-wide;
        .article-grid__content {
          padding: 0 15% 6em;
        }
        .article-grid__figure {
          > picture > img {
            min-height: $first-article-height-home-wide;
            max-height: $first-article-height-home-wide;
          }
        }
        .article-grid__content {
          header {
            @include text-size(bigger);
          }
        }
      }
    }
    .oldish {
      width: 50%;
      padding-left: $oldish-wide-padding-left;
    }
  }
} // body.home

body.category {
  $left-article-width: 45%;

  .fdd-category-grid {
    > .article-grid {
      width: $left-article-width;
      padding: 0 $fdd-home-images-gap 0 0;
      .article-grid-wrapper {
        .article-grid__content {
          top: 0; //-5.2em;
          padding: 0 0 5em;
          margin: 0;
        }
        .article-grid__figure {
          > picture > img {
            min-height: $first-article-min-height-category-wide;
            max-height: $first-article-max-height-category-wide;
          }
        }
      }
    }
    .oldish {
      width: 100% - $left-article-width;
    }
  }
} // body.category

  /**********************************************************
  Too high screen
  **********************************************************/

  @media screen and (min-height: $first-article-home-tall-screen) {

  body.home {
    .fdd-category-grid {
      > .article-grid {
        .article-grid-wrapper {
          .article-grid__figure {
            > picture > img {
              min-height: $first-article-height-home-wide-max;
              max-height: $first-article-height-home-wide-max;
            }
          }
        }
      }
      .oldish {
        .article-grid__figure {
          > picture > img {
            min-height: 21vw;
            object-fit: cover;
          }
        }
      }
    }
  } // body.home

  body.category {
    .fdd-category-grid {
      > .article-grid {
        .article-grid-wrapper {
          .article-grid__figure {
            > picture > img {
              min-height: $first-article-height-category-wide-max;
              max-height: $first-article-height-category-wide-max;
            }
          }
        }
      }
    }
  }

  } // media tall screen

} // media screen and (max-width: $fdd-wide-width-pixels - 0.1px)


/**********************************************************
Too wide screen
**********************************************************/
@media screen and (min-width: $fdd-home-too-wide-screen) {

body.home, body.category {
  .fdd-category-grid {
    .oldish {
      .article-grid__figure {
        > picture > img {
          min-height: $fdd-home-too-wide-screen * 0.21 !important;
        }
      }
    }
  }
} // body.home

}

/**********************************************************
 Nav menu quirks
 **********************************************************/

@media screen and (max-width: $fdd-menu-wide-screen-width - 0.1px) {
  body.home, body.category {
    .fdd-category-grid {
      > .article-grid {
        top: 0;
      }
    }
  }
}

/**********************************************************
 Narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-wide-width-pixels - 0.1px) {

body.home, body.category {
  .fdd-category-grid {
    > .article-grid {
      width: 100%;
      padding: 0;
      .article-grid-wrapper {
        position: relative;
        .article-grid__figure {
          > picture > img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .oldish {
      width: 100%;
      .oldish__inner {
        @include oldish-masonry-ttb($fdd-outer-padding-wide-screen);
      }
      padding: 7em $fdd-home-outer-padding-narrow-screen 0 $fdd-home-outer-padding-narrow-screen;
      .article-grid {
        break-inside: avoid;
        width: 100%;
        padding-bottom: 1em;
        .article-grid-wrapper {
          .article-grid__figure {
            .article-grid__is-video {
              height: 100%;
            }
            > picture > img {
              max-height: 50vw;
              min-height: 50vw;
              object-fit: cover;
            }
          }
          .article-grid__content {
            header {
              @include text-size(large);
            }
          }
        }
      }

      @supports not (break-inside: avoid-column) {
        // to workaround missing support for `break-inside: avoid;`
        .article-grid.last-article:only-child {
          min-height: calc(50vw + 330px); // this comes from the height of the image which is based on vw + some space for the text
        }
      }
    }
  }
}

body.home {
  .fdd-category-grid {
    > .article-grid {
      .article-grid-wrapper {
        .article-grid__figure {
          > picture > img {
            height: $first-article-height-home-narrow;
            min-height: $first-article-min-height-home-narrow;
            max-height: $first-article-max-height-home-narrow;
          }
        }
        .article-grid__content {
          position: absolute;
          bottom: 0;
          padding: 0 15% 3em;
          header {
            @include text-size(big);
          }
        }
      }
    }
  }
}

body.category {
  $up-shift: -3.5em;

  .fdd-category-grid {
    > .article-grid {
      padding: 0 $fdd-category-outer-padding-narrow-screen 2em;
      .article-grid-wrapper {
        margin-bottom: $up-shift;
        .article-grid__figure {
          > picture > img {
            height: $first-article-min-height-category-narrow;
            max-height: $first-article-max-height-category-narrow;
          }
        }
        .article-grid__content {
          margin-left: 10%;
          position: relative;
          top: $up-shift;
        }
      }
    }
    .oldish {
      padding: 3em $fdd-category-outer-padding-narrow-screen 0;
    }
  }
}

} // media screen and (max-width: $fdd-wide-width-pixels - 0.1px)


/**********************************************************
  Super-narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-narrow-width-pixels - 0.1px) {

body.home, body.category {
  .fdd-category-grid {
    > .article-grid {
      padding: 3em 0 1em;
      .article-grid-wrapper {
        .article-grid__figure {
          > picture > img {
            height: 100vh;
            max-height: $first-article-max-height-category-narrow;
          }
        }
        .article-grid__content {
          padding: 0 5% 3em;
          max-height: $first-article-max-height-category-narrow;
        }
      }
    }
    .oldish {
      padding: 2.5em $fdd-category-outer-padding-super-narrow-screen 0;
      .oldish__inner {
        columns: auto;
        width: 100%;
      }
      .article-grid {
        width: 100%;
        $oldish-padding-narrow: 20px;
        padding-top: $oldish-padding-narrow;
        padding-bottom: $oldish-padding-narrow;
        border-top: $fdd-on-gray-color 1px solid;
        min-height: unset;
        .article-grid-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          .article-grid__figure {
            width: 38.2%;
            > picture > img {
              object-fit: cover;
              height: 100%;
            }
          }
          .article-grid__content {
            top: -6px; // empirical, align text and image
            width: 61.8%;
            margin: 0;
            padding: 0 0 0 5%;
            header h2 {
              margin-top: 0;
              @include text-size(large);
              line-height: 1.5;
            }
            .article-grid__underline {
              display: none;
            }
          }
        }
      }
      .article-grid.last-article:only-child {
        min-height: unset;
      }
    }
  }
}

body.home {
  .fdd-category-grid {
    .oldish {
      .article-grid:first-child {
        border-top: none;
      }
    }
  }
}

}

@media screen and (max-width: $fdd-narrow-width-pixels - 0.1px) and (orientation: landscape) {

body.home, body.category {
  .fdd-category-grid {
    .oldish {
      .article-grid {
        .article-grid-wrapper {
          .article-grid__content {
            top: -9px; // empirical, align text and image
            header h2 {
              @include text-size(big);
            }
          }
        }
      }
    }
  }
}

}
