*,
*::after,
*::before {
  @include box-sizing(border-box);
}

html {
  // stylelint-disable-line selector-no-type
  @include text-size(large);
  scroll-behavior: smooth;
}

body {
  /* stylelint-disable-line selector-no-type */
  @include font-smoothing;
  @include base-font-family-set();
  color: $base-text-color;

  /* // interferes with mix-blend-mode: liminosity and static positioned images, Firefox bug
  background-color: $base-bg-color;
  */
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;

  &.overflow-hidden {
    overflow: hidden;
  }

  img {
    transition: max-height 0.15s ease;
  }
}

body.noscroll {
  overflow: hidden;
}

div.pswp {
  @include font-standard-sans();
  .pswp__top-bar {
    background: none;
  }
}

/*
// http://www.cookielawinfo.com/user-guide/
// GDPR Cookie Consent plugin
#cookie-law-info-bar {
  padding: 10px 10px !important;
  width: 333px !important;
}
#cookie-law-info-bar,
#cookie-law-info-again {
  @include font-standard-sans-important();
}
*/

/*
// Beautiful Cookie Consent Banner
.cc-revoke,
.cc-window {
  position: sticky !important;
  z-index: 50 !important; // to let the fullscreen menu overlay
}
*/

// GDPR Cookie Compliance
#moove_gdpr_cookie_info_bar {
  padding: 10px;
  min-height: auto !important;
  border: none !important;
  background: $fdd-gray-elements-color-moretrans !important;
  box-shadow: black 0px 3px 20px;
  .moove-gdpr-info-bar-container {
    padding: 0 !important;
  }
  .mgbutton {
    padding: 4px 20px !important;
    margin: 0 !important;
  }
  p {
    font-weight: 300 !important;
  }
}

// This is used as the last element in page block to provide tailing element for sticky positioning
.fdd-heel {
  width: 100%;
  height: 0;
  clear: both;
}
