$header-bottom-line: false;
$header-sticky-bottom-line: true;
$header-bottom-line-color: black;

$header-bottom-line-on-home: true;

$header-font-size: 28px;
$header-font-size-narrow: 18px;
$header-top-bottom-padding: $header-font-size;
$header-menu-item-hover-border: 5px;
$header-menu-shift-margin: 7px; // Empiric

// Global

@if ($header-bottom-line-on-home) {
  .home .header {
    border-bottom: 1px solid $header-bottom-line-color-on-home;
  }
}

.header {
  @include font-standard-sans();
  padding: 0 $fdd-outer-padding-wide-screen;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  @if ($header-bottom-line == true and $header-sticky-bottom-line == true) {
    border-bottom: 1px solid $header-bottom-line-color;
  }

  .header__logo-link {
    display: inline-block;
    img {
      width: $logo-width-wide;
      display: inline-block;
      padding: 30px 0 0 0;
    }
  }

  /*
  .header__logo {
    @if ($fdd-sticky-menu == true) {
      padding: $header-top-bottom-padding / 2 0;
      margin-top: $header-top-bottom-padding / 2; // has impact on the whole header content
    }
    @if ($fdd-sticky-menu == false) {
      padding: $header-top-bottom-padding 0;
      height: $header-font-size + $header-top-bottom-padding * 2 + $header-menu-item-hover-border + 1;
    }
    font-size: $header-font-size;
    font-weight: bold;
    display: inline-block;
    margin-right: $fdd-outer-padding-wide-screen;
  }
  */

  ul.main-navigation {
    z-index: 1;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0;
      height: 37px; // empiric
      @if ($fdd-sticky-menu == false) {
        margin: $header-top-bottom-padding 0;
      }
      @if ($fdd-sticky-menu == true) {
        margin: $header-menu-shift-margin 0;
      }
      text-transform: lowercase;
    }
    li.main-navigation__item--search > a {
      content: url(../images/search.svg);
      width: 75%;
      top: -3px;
      left: 13%; // to align at center 13 ~ (100-75)/2
    }
    li.main-navigation__item--shop-cart {
      //display: none; // by default hidden; issue: no JS API for cart, only PHP, collides with the cache.
      a {
        content: url(../images/shopping-cart.svg);
        top: 0px;
      }
    }
    li.main-navigation__item--search > a,
    li.main-navigation__item--shop-cart > a {
      position: relative;
      opacity: 0.75;
    }
    li.main-navigation__item--shop-menu-item > a {
      background: $fdd-red-color;
      padding: 0 4px;
      color: white;
    }
  }
}

.description {
  @include fdd-blog-descr-font();
  @include text-size(largest);
  margin: 0;
  padding: 10px $fdd-outer-padding-wide-screen 30px;
}

body.search {
  header h1 {
    @include fdd-home-category-name(giant);
    color: $fdd-title-color;
    padding: 0.5em $fdd-outer-padding-wide-screen 0;
    text-align: center;
    > span {
      // the search term...
      @include font-italic-serif();
    }
  }
}

/**********************************************************
  Wide screen
 **********************************************************/
@media screen and (min-width: $fdd-menu-wide-screen-width) {
  .header {
    @if ($fdd-sticky-menu == true) {
      position: sticky;
      top: -25px;
      background: white;
      z-index: 100;
      height: 70px;
    }

    ul.main-navigation {
      // width: 36%; empiric to align with recipe text width
      width: 630px; // @shop-enable
      //width: 600px;
      font-size: 21px;
      li.main-navigation__item--sandwitch {
        position: relative;
        font-size: 27px;
        top: -2px;
      }
      > li:hover,
      > li.main-navigation__item--active {
        border-bottom: $header-menu-item-hover-border solid black;
        margin-bottom: -$header-menu-item-hover-border;
        &.main-navigation__item--shop-menu-item {
          border-color: $fdd-red-color;
        }
      }
    }
  }
}

/**********************************************************
  Medium screen menu
 **********************************************************/
@media screen and (max-width: $fdd-menu-wide-screen-width - 0.1px) and (min-width: $fdd-wide-width-pixels) {
  .header {
    padding: 0 $fdd-outer-padding-wide-screen; // $fdd-menu-wide-screen-width * 0.05; // =$fdd-outer-padding-wide-screen
  }
}

@media screen and (max-width: $fdd-menu-wide-screen-width - 0.1px) {
  .header {
    ul.main-navigation {
      li {
        margin-left: 37px;
      }
      li.main-navigation__item--sandwitch {
        font-size: 50px;
      }
      li.main-navigation__item--wide-screen-only {
        display: none !important;
      }
      li.main-navigation__item--search > a,
      li.main-navigation__item--shop-cart > a {
        width: auto;
      }
      // all below is empyric
      li.main-navigation__item--search > a {
        top: -3px;
        height: 80%;
      }
      li.main-navigation__item--shop-cart > a {
        top: 6px;
        left: 20px;
        height: 112%;
      }
    }
  }
}

/**********************************************************
  Medium screen general
 **********************************************************/
@media screen and (max-width: $fdd-wide-width-pixels - 0.1px) {
  .description {
    padding: 10px $fdd-home-outer-padding-wide-screen 30px;
  }
  .header {
    padding: 0 $fdd-home-outer-padding-wide-screen;
  }
}

/**********************************************************
  Narrow screen
 **********************************************************/
@media screen and (max-width: $fdd-menu-narrow-screen-width) {
  .description {
    padding: 10px $fdd-home-outer-padding-narrow-screen 30px;
  }
  .header {
    padding: 0 $fdd-home-outer-padding-narrow-screen;
    ul.main-navigation {
      position: relative;
      top: -4px;
      li {
        margin-left: 0;
      }
      li.main-navigation__item--search > a,
      li.main-navigation__item--shop-cart > a {
        display: none;
      }
    }
    .header__logo-link {
      img {
        width: $logo-width-narrow;
      }
    }
  }
}

@if ($header-bottom-line == true and $header-sticky-bottom-line == false) {
  .header__bottom-border {
    display: block;
    width: 100%;
    height: 1px;
    background: $header-bottom-line-color;
  }
}

/*
body.home {
  .description {
    font-size: 30px;
    margin: 0;

    text-align: right;
    padding: 96px $fdd-outer-padding-wide-screen;
  }
}
*/

body.single,
body.page,
body.error404 {
  .description {
    border-bottom: 1px solid $header-bottom-line-color-light;
  }
}

body.search {
  .description {
    border-bottom: 1px solid $header-bottom-line-color-dark;
  }
}
