.header {
  @include font-standard-sans();
  padding: 0 $fdd-outer-padding-wide-screen;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

  img {
    width: 20%;
    padding: 30px;
  }

  $header-font-size: 28px;
  $header-top-bottom-padding: $header-font-size;
  $header-menu-item-hover-border: 5px;
  
  .header__logo {
    padding: $header-top-bottom-padding 0;
    font-size: $header-font-size;
    font-weight: bold;
    display: inline-block;
    margin-right: $fdd-outer-padding-wide-screen;
    height: $header-font-size + $header-top-bottom-padding * 2 + $header-menu-item-hover-border + 1;
  }

  ul.main-navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 36%; // Empiric
    li {
      display: inline-block;
      padding:  0;
      margin: $header-top-bottom-padding 0;
      text-transform: uppercase;
    }
    li:hover, li.main-navigation__item--active {
      border-bottom: $header-menu-item-hover-border solid black;
      margin-bottom: -$header-menu-item-hover-border;
    }
  }
}
