.footer {
  clear: both;
  width: 100%;
  margin: 12vh 0 0;
  padding: 0;
  
  &__container {
    @include font-standard-sans();
    @include text-size(large);
    padding: 2.5rem $fdd-outer-padding-wide-screen;
    background: $fdd-gray-elements-color;
    color: $fdd-on-gray-color;
    ul.footer-navigation {
      list-style-type: none;
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding:  0;
        margin: 0 0 0 2em;
        a {
          color: $fdd-on-gray-color;
          &:hover {
            border-bottom: 5px solid $fdd-on-gray-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $fdd-narrow-width-pixels - 0.1px) {
  .footer {
    &__container {
      ul.footer-navigation {
        display: block;
        li {
          margin: 1.5em 0 0;
          width: 100%;
        }
      }
    }
  }
}
