$shop-footer-item-padding: 5px;
$fdd-footer-text-color: #666666;

.footer {
  clear: both;
  width: 100%;
  margin: 12vh 0 0;
  padding: 0;

  position: sticky;
  top: 100vh;

  &__container {
    @include font-standard-sans();
    @include text-size(large);
    padding: 2.5rem $fdd-outer-padding-wide-screen;
    //background: $fdd-gray-elements-color;
    //color: $fdd-on-gray-color;
    background: $fdd-light-gray;
    color: $fdd-footer-text-color;
    ul.footer-navigation {
      list-style-type: none;
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 0;
        margin: 0 0 0 2em;
        a {
          color: $fdd-on-gray-color;
          color: $fdd-footer-text-color;
          &:hover {
            border-bottom: 5px solid $fdd-on-gray-color;
          }
        }
      }
      li.footer-navigation__item--shop a {
        background: $fdd-red-color;
        padding: $shop-footer-item-padding;
        margin-top: -$shop-footer-item-padding;
        color: white;
        &:hover {
          border: none;
        }
      }
      li.footer-navigation__item--instagram {
        margin-right: 48px;
        & a::after {
          background-image: url(../images/instagram-icon-128.png);
          background-size: 32px 32px;
          background-repeat: no-repeat;
          display: inline-block;
          width: 32px;
          height: 32px;
          content: "";
          position: absolute;
          margin-top: -7px;
          margin-left: 16px;
        }
      }
    }
  }

  &__logo_container {
    padding: 0 $fdd-outer-padding-wide-screen;
    background: #2b2b2b; // empiric
    line-height: 1;
  }
  &__logo {
    filter: invert(1);
    opacity: 0.05;
    max-width: 100%;
  }
}

@media screen and (max-width: $fdd-footer-narrow-width-pixels - 0.1px) {
  .footer {
    &__container {
      ul.footer-navigation {
        display: block;
        li {
          margin: 1.5em 0 0 !important;
          width: 100%;
        }
        li.footer-navigation__item--shop a {
          margin-left: -$shop-footer-item-padding !important;
        }
      }
    }
  }
}
