body.home, body.category {
  .fdd-category {
    width: 100%;
    display: block;
    border-top: 1px $fdd-title-color solid;
    .fdd-category-name {
      @include fdd-home-category-name(giant);
      color: $fdd-title-color;
      display: inline-block;
      padding: 0.2em 0;
    }
  }
}

body.home {
  .fdd-category {
    .fdd-category-grid {
      margin: 50px 0 60px;
    }
  }
}

body.category {
  .fdd-category {
    .fdd-category-name {
      width: 100%;
      text-align: center;
    }
    .fdd-category-grid:first-child {
      margin-top: 60px;
    }
    margin-bottom: 80px;
  }
}


/**********************************************************
 Wide screen
 **********************************************************/

@media screen and (min-width: $fdd-wide-width-pixels) {

body.home {
  .fdd-category {
    .fdd-category-name {
      margin: 0 $fdd-outer-padding-wide-screen;
      border-top: 6px solid black;
    }
    .fdd-category-grid {
      margin-bottom: 150px;
    }
  }
}

body.category {
  .fdd-category {
    .fdd-category-name {
      margin: 1em 0 1.5em;
    }
  }
}

} // media screen and (min-width: $fdd-wide-width-pixels)


/**********************************************************
 Narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-wide-width-pixels - 1px) {

body.home {
  .fdd-category {
    .fdd-category-name {
      border-top: 6px solid black;
      margin: 0 $fdd-home-outer-padding-narrow-screen 0;
    }
    .fdd-category-grid {
      margin-top: 10px;
    }
  }
}

body.category {
  .fdd-category {
    .fdd-category-name {
      margin: 1em 0;
    }
  }
}

} // media screen and (max-width: $fdd-wide-width-pixels - 1px)

/**********************************************************
  Super-narrow screen
 **********************************************************/

@media screen and (max-width: $fdd-narrow-width-pixels - 1px) {

body.category {
  .fdd-category {
    .fdd-category-name {
      margin: .5em 0 0 0;
    }
  }
}

}
