//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers

.btn {
  @extend %button-reset;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid;
  cursor: pointer;
  border-radius: 0;

  transition: {
    property: background-color, color, border-color;
    timing-function: ease-in;
    duration: 0.3s;
  }

  @include button-sizes;
  @include button-colors;

  &--block {
    display: flex;
  }
}

span.button.spacer {
  display: inline-block;
  margin: 0 12px;
}
div.button.red {
  background: $fdd-red-color;
  display: inline-block;
}
a.button.red {
  padding: 12px 40px;
  width: 100%;
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: $fdd-wide-width-pixels - 0.1px) {
  body.home {
    span.button.spacer {
      display: block;
      margin: 24px 0;
    }
    div.button.red {
      display: block;
      width: 100%;
      max-width: $fdd-home-cta-max-width;
      margin: auto;
    }
  }
}

/*
@media screen and (max-width: $fdd-narrow-width-pixels - 0.1px) {
  div.single-call-to-action {
    div.button.red {
      display: block;
      width: 100%;
      margin: auto;
    }
  }
}
*/
