body.home {
  div.home-call-to-action--wrap {
    @include home-call-to-action();
    text-align: center;
  }
  div.home-call-to-action {
    color: white;
    margin: 0 auto;
    display: inline;
  }
}

div.single-call-to-action--wrap {
  width: 100%;
  color: black;
  &.cta1 {
    margin-top: 40px;
    text-align: center;
    div.single-call-to-action {
      //max-width: 90%;
      //width: 100%;
      margin: auto;
      padding-top: 20px;
      padding: 1em 0 2.5em;
      border-top: solid 1px #ddd;
      display: inline-block;
      p:last-of-type {
        padding-bottom: 20px;
      }
    }
  }
  &.cta2 {
    div.single-call-to-action {
      // VER 1
      //border-top: solid 1px #d9d9d9;
      padding: 10px 0;
      // VER 2
      //padding: 20px;
      //background: $fdd-gray-elements-color;
      //color: white;
      // VER 3
      //border: solid 1px;
      //padding: 20px;
      max-width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }
    a.button {
      color: $fdd-red-color;
      text-decoration: underline;
    }
    .download--wrap {
      flex-shrink: 0;
      background: $fdd-red-color;
      width: 50px;
      height: 50px;
      padding: 15px;
      margin-right: 16px;
      font-size: 16px;
      //border-radius: 50%;
    }
    .download {
      border-bottom: 2px solid white;
    }
  }
  &.cta3 {
    text-align: center;
    div.single-call-to-action {
      margin: auto;
    }
    a.button {
      color: $fdd-red-color;
      text-decoration: underline;
    }
  }
}

span.cta-text-icon {
  font-size: 40px;
  float: left;
}

div.fdd-recipe--page {
  div.fdd-recipe--cta-shop-top {
    width: 100%;
    margin: 0 0 32px;
    // needs care...
    padding: 0 $fdd-inner-padding-wide-screen;
    div.single-call-to-action--wrap {
      margin-top: 0;
    }
  }
  div.fdd-recipe--cta-shop-bottom {
    width: 100%;
    div.single-call-to-action--wrap.cta2 {
      padding-top: 1em;
    }
    div.single-call-to-action {
      //padding-bottom: 0;
    }
  }
}

div.fdd-recipe--cta-shop-top {
  // layout currenly broken.
  display: none;
}

div.fdd-call-to-action-inline--wrap {
  padding: 1.5em 0;
  font-size: 16px;
  text-align: left;
  div.single-call-to-action--wrap {
    &.cta2 {
      div.single-call-to-action {
        max-width: 100%;
      }
    }
  }
}
div.fdd-art--page {
  figure + div.fdd-call-to-action-inline--wrap {
    padding: 1em 0 2em;
  }
}
div.fdd-art--description {
  p + div.fdd-call-to-action-inline--wrap {
    border-top: solid 1px $fdd-gray-elements-color;
  }
  div.fdd-call-to-action-inline--wrap + p {
    border-top: solid 1px $fdd-gray-elements-color;
    padding-top: 35px;
  }
}

@media screen and (min-width: $fdd-wide-width-pixels) {
  div.fdd-recipe--cta-shop-top {
    display: none;
  }
}

@media screen and (max-width: $fdd-wide-width-pixels - 0.1px) {
  body.home {
    div.home-call-to-action {
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: $fdd-wide-width-pixels - 0.1px) {
  div.single-call-to-action {
    width: 100%;
    max-width: 100% !important;
  }
  div.fdd-recipe--cta-shop-bottom {
    div.single-call-to-action {
      // VER 1
      //border-top: none !important;
    }
    div.single-call-to-action--wrap {
      padding-top: 3em !important;
    }
  }
}
