//Base
$base-font-family: 'Open Sans', Arial, sans-serif;
$base-icons-font-family: 'fdd';

// Container
$base-content-padding: 15px;
$base-content-full-width: 1200px;
$base-content-width: $base-content-full-width + ($base-content-padding*2);

//Typography
$typography-map: (
  mobile: (
    giant:          40px,
    huge:           32px,
    biggest:        26px,
    bigger:         24px,
    big:            22px,
    largest:        20px,
    larger:         18px,
    large:          16px,
    default:        14px,
    medium:         12px,
    small:          11px,
    smaller:        10px,
    tiny:           9px,
  )
);

// Buttons
$button-size-map: (
  mobile: (
    default: (
      text-size: 14px,
      line-height: 1.4,
      height: 64px,
    )
  )
);

//Section
$section-spacing-map: (
  mobile: (
    default:    40px,
    medium:     80px,
    small:      20px,
    no-spacing: 0
  )
);

//WP admin bar
$wpAdminBar-sm: 782px;

// Forms
$form-field-spacing: 30px;

// Input
$input-height-map: (
  mobile: (
    default: (
      text-size: 18px,
      height: 57px,
    )
  )
);

// Keep in sync with fdd-block\src\common.scss
$fdd-title-color: black;

$fdd-wide-width-pixels: 980px;
$fdd-narrow-width-pixels: 700px;

$fdd-outer-padding-wide-screen: 5%;
$fdd-outer-padding-narrow-screen: 5%;

$fdd-home-outer-padding-narrow-screen: 5%;
